/* Custom Button Styling */
.custom-button {
  padding: 3px 9px;
  outline: none;
  color: white;
  border: 1px solid var(--link-active-foreground);
  border-radius: 3px;
  cursor: pointer;
}

.run-action-button {
  outline: none;
  border: 1px solid #424242;
  margin: 0;
  background: none;
  padding: 0;
  cursor: pointer;

  .run-outline {
    height: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #3c3c3c;
    background-color: #3c3c3c;
  }

  &:disabled {
    color: #9e9e9e !important;
    background: #f5f5f5 !important;
    border-color: #d0d0d0 !important;

    .select-container {
      color: #9e9e9e !important;
      border-left: 1px solid #d0d0d0;
    }
  }

  .select-container {
    color: white;
    padding: 0 10px 0 3px;
    border-left: 1px solid #3c3c3c;
  }

  &:hover,
  &:focus {
    border-color: #4daafc;
  }
}

/* Tag Group Layout */
.c-tag-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 3px;
  flex-wrap: wrap;
}

/* Tab Navigation */
.tab {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 2px 10px;
  .active-tab {
    height: 1px;
    width: 100%;
    background-color: #0078d4;
  }
}

/* Radio Button Group */
.radio-group {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.radio-root {
  display: flex;
  align-items: center;
  cursor: pointer;

  .radio-root-control {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    gap: 8px;

    /* Hidden Input for Radio Buttons */
    input[type='radio'] {
      cursor: inherit;
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      margin: 0;
      z-index: 1;

      &:disabled {
        cursor: not-allowed;
      }
    }

    /* Radio Button Outer Circle */
    .checkbox-outer {
      width: 15px;
      height: 15px;
      border: 1px solid #c7c6c6;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: border-color 0.3s ease;

      .checkbox-inner {
        width: 7px;
        height: 7px;
        background-color: transparent;
        border-radius: 50%;
        transition: background-color 0.3s ease;
      }
    }

    /* Disabled Radio Button Styles */
    input[type='radio']:disabled + .checkbox-outer {
      background-color: rgba(128, 128, 128, 0.327);
      color: gray;
    }

    .radio-label {
      font-size: var(--vscode-font-size);
      user-select: none;
    }

    .radio-label-disabled {
      color: gray !important;
    }
  }
}

/* Checkbox Styles */
.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    .control {
      width: calc(var(--design-unit) * 4px + 2px);
      height: calc(var(--design-unit) * 4px + 2px);
      box-sizing: border-box;
      border-radius: calc(var(--checkbox-corner-radius) * 1px);
      border: calc(var(--border-width) * 1px) solid var(--checkbox-border);
      outline: none;
      cursor: pointer;
      transition:
        background-color 0.3s,
        border-color 0.3s;
    }
  }

  .checkbox-input {
    display: none;
  }

  .checked-indicator {
    width: 100%;
    height: 100%;
    display: block;
    fill: var(--foreground);
    pointer-events: none;
  }
}

/* Date Picker Styling */
.date-picker {
  height: 18px;
  font-size: 12px;
  min-width: 110px;
}

/* Dropdown Component */
.dropdown {
  box-sizing: border-box;
  font-family: var(--font-family);
  height: calc(var(--input-height) * 1px);
  position: relative;
  user-select: none;
  outline: none;
  vertical-align: top;
  display: inline-flex;
  --focus-border: #007fd4;
  flex-direction: column;
  min-width: 90px;
  width: 100%;

  .dropdown-option-label,
  .dropdown-label {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }
  .dropdown-label {
    max-width: 270px;
  }

  .placeHolder {
    color: gray !important;
    font-size: 12px !important;
  }

  /* Dropdown Control */
  .control {
    align-items: center;
    box-sizing: border-box;
    border: calc(var(--border-width) * 1px) solid var(--dropdown-border);
    border-radius: calc(var(--corner-radius) * 1px);
    cursor: pointer;
    display: flex;
    font-family: inherit;
    font-size: var(--type-ramp-base-font-size);
    line-height: var(--type-ramp-base-line-height);
    min-height: 100%;
    padding: 2px 6px 2px 8px;
    justify-content: space-between;
    width: 100%;
  }

  /* Dropdown List */
  .listBox {
    border: calc(var(--border-width) * 1px) solid #007fd4;
    border-radius: calc(var(--corner-radius) * 1px);
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    left: 0px;
    padding: 0 0 calc(var(--design-unit) * 1px) 0;
    overflow-y: auto;
    position: absolute;
    top: 23px;
    width: 100%;
    z-index: 100;
    max-height: 120px;
  }
  .search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #313131;
    position: sticky;
    background: inherit;
    top: 0;
    .search-input {
      width: 90%;
      background: unset;
      height: unset;
      border: unset !important;
      outline: unset;
      &:focus {
        border: #0078d4;
      }
      &::placeholder {
        background-color: unset;
      }
    }
    .Icon {
      margin-right: 2px;
      .clear {
        cursor: pointer;
      }
    }
  }
  .not-found {
    color: gray;
    margin-top: 4px;
    text-align: center;
    font-size: 11px;
  }
}

/* Dropdown Option */
.dropdown-option {
  font-family: var(--body-font);
  border-radius: var(--corner-radius);
  border: calc(var(--border-width) * 1px) solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  fill: currentcolor;
  height: auto;
  line-height: var(--type-ramp-base-line-height);
  margin: 0px;
  outline: none;
  padding: 0 calc((var(--design-unit) / 2) * 1px) 
  calc((var(--design-unit) / 4) * 1px);
  user-select: none;
  font-size: 13px;
}

/* Text Area */

.custom-text-area {
  &::placeholder {
    caret-color: white;
  }
  &:focus {
    outline: #4daafc !important; /* Apply the border color on focus */
  }
}
