@import url('./material/material.scss');

/* Mixin for transparent radio button inner */
@mixin radio-transparent-inner {
  input[type='radio']:not(:checked) + .checkbox-outer > .checkbox-inner {
    background-color: transparent;
  }
}

:root {
  --input-background-light: #efefef;
  --input-placeholder-foreground-light: #989898;
  --input-background-dark: #313131;
  --input-placeholder-foreground-dark: #989898;
  --link-active-foreground: #4daafc;
  --input-height: 20;
  --dropdown-background-light: #efefef;
  --foreground-light: #282828;
  --dropdown-background-dark: #3c3c3c;
  --foreground-dark: #cccccc;
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --input-height: 24;
  --input-min-width: 100px;
  --border-width: 1;
  --dropdown-border: #3c3c3c;
  --corner-radius: 0;
  --type-ramp-base-font-size: 13px;
  --type-ramp-base-line-height: normal;
  --input-color-light: #282828;
  --design-unit: 4;
  --checkbox-corner-radius: 3;
  --border-width: 1;
  --checkbox-background: #3c3c3c;
  --foreground: #cccccc;
  --checkbox-border: #888888;
  --disabled-text: #a0a0a0;
  --disabled-background: #f5f5f5;
  --disabled-border: #d0d0d0;
  --disabled-opacity: 0.5;
  --disabled-cursor: not-allowed;
}

/* Light Theme */
.root-div-light {
  input,
  .custom-text-area > textarea {
    background-color: var(--input-background-light);
    color: var(--input-color-light);
    border: 1px solid var(--input-background-dark) !important;
  }

  & ::placeholder {
    background-color: var(--input-background-light);
    color: var(--input-placeholder-foreground-light);
  }

  .org-div {
    table td {
      color: var(--input-color-light);
    }
  }
  .btn-transparent {
    color: var(--foreground-light);
    border: 1px solid var(--foreground-light);
  }
  //checkbox
  .checkbox > .wrapper > .control {
    background: #cdcdcd;
  }

  .checked-indicator {
    fill: var(--input-background-dark);
  }

  .checkbox-outer {
    border-color: #000000 !important;
  }

  input[type='radio']:checked + .checkbox-outer {
    border-color: #5a5a5a;
    background-color: #4daafc;
    .checkbox-inner {
      background-color: #ffffff;
    }
  }

  @include radio-transparent-inner;

  .dropdown {
    background: var(--dropdown-background-light);
    color: var(--foreground-light);
  }

  .dropdown-option {
    color: var(--input-color-light);
  }

  .dropdown > .listBox {
    background: var(--dropdown-background-light);
  }

  .dropdown-option:hover {
    background: rgb(88 178 239) !important;
    border-color: #007fd4;
  }

  .c-panel > .c-panel-header {
    color: white;
  }
  .assess-split-panel-header {
    color: white;
  }

  .code-block {
    background-color: #f4f4f5;
  }

  .run-action-button {
    border: 1px solid #424242;

    .run-outline {
      border: unset;
      background-color: unset;
    }

    .select-container {
      color: black;
    }

    &:hover,
    &:focus {
      border-color: #4daafc;
    }
  }
}

/* Dark Theme */
.root-div-dark {
  input,
  .custom-text-area > textarea {
    background-color: var(--input-background-dark);
    color: var(--input-placeholder-foreground-dark);
    border: 1px solid var(--input-background-dark) !important;
  }

  & ::placeholder {
    background-color: var(--input-background-dark);
    color: var(--input-placeholder-foreground-dark);
  }
  //checkbox
  .checkbox > .wrapper > .control {
    background: var(--checkbox-background);
  }

  .checkbox-outer {
    border-color: #c7c6c6;
  }

  input[type='radio']:checked + .checkbox-outer {
    border-color: #c7c6c6;
    background-color: #4daafc;
    .checkbox-inner {
      background-color: white;
    }
  }

  @include radio-transparent-inner;

  .dropdown {
    background: var(--dropdown-background-dark);
    color: var(--foreground-dark);
  }

  .dropdown-option {
    color: var(--foreground-dark);
  }

  .dropdown > .listBox {
    background: var(--dropdown-background-dark);
  }

  .dropdown-option:hover {
    background: #094771 !important;
    border-color: #007fd4;
  }

  .code-block {
    background-color: #2c2c2c;
  }
}

.code-block {
  padding: 10px;
  overflow-x: auto;
}

/* Disabled State */
.disabled {
  color: var(--disabled-text) !important;
  background-color: var(--disabled-background) !important;
  cursor: var(--disabled-cursor) !important;
  opacity: var(--disabled-opacity) !important;
  pointer-events: none;
}

.disabled-checkbox {
  color: var(--disabled-text) !important;
  cursor: var(--disabled-cursor) !important;
  opacity: var(--disabled-opacity) !important;
  pointer-events: none;
}

/* General Utility Classes */
.mt_5 {
  margin-top: 5px;
}

.mb_5 {
  margin-bottom: 5px;
}

.w-80 {
  width: 80px;
}

.settingFormTable1 {
  width: 670px;
  .source-dropdown {
    width: 100px;
  }
  .project-dropdown {
    width: 103%;
  }
}

.btn-blue {
  background: rgb(33, 161, 161);
}

.float-right {
  float: right;
}

/* Table & Layout */
.org-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;

  .org-actions {
    display: flex;
    flex-direction: row;
    gap: 7px;
    padding: 5px 0px;
  }

  .editor-transparent {
    background: none;
    outline: none;
    border: none;

    &:disabled {
      background-color: unset;
    }
  }
}

.table-container {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #2b2b2b;

  .org-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    th {
      position: sticky;
      top: 0;
      color: white;
      background-color: #2b2b2b;
      z-index: 1;
      padding: 8px;
    }

    td {
      border: 1px solid #2b2b2b;
      padding: 8px;
      text-align: center;
      vertical-align: middle;
    }
    #project-added-to-config {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

/* Buttons */
.lightblue {
  background-color: blue;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.org-add-update {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

/* Error Messages */
.error-message {
  color: rgba(255, 0, 0, 0.568);
  padding: 1px 0px;
  font-size: 10px;
}

button:disabled {
  background-color: rgba(128, 128, 128, 0.842);
  cursor: not-allowed;
}

button:focus {
  border-color: #4daafc;
}

/* Input Fields */
td {
  width: 300px;

  .form-field {
    display: flex;
    flex-direction: column;
    width: 100%;

    .withHelpIcon {
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
    }
    input {
      width: 100%;
    }
  }

  .minute-form-field {
    width: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
}

.panel-primary-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .panel-header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .imgContainer {
    margin-right: 6px;
    height: 20px;
    object-fit: contain;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

/* Panel */
.c-panel {
  border: 1px solid #2b2b2b;

  min-height: 300px;
  height: 475px;
  max-height: 475px;
  overflow: auto;

  .c-panel-header {
    z-index: 2;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2b2b2b;
    padding: 0px 5px;
    background-color: var(--foreground-light);
  }
  .manual-refresh {
    background-color: unset;
    color: inherit;
    padding: unset;
    outline: unset;
    border: unset;
    &:disabled {
      color: gray;
      cursor: not-allowed !important;
    }
  }
}

.c-assess-panel {
  height: 524px;
  max-height: 524px;
}

/* Vulnerability Report */
.pane-header {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  padding: 5px;
  width: fit-content;
}

.pane-header:hover {
  background-color: rgba(128, 128, 128, 0.192);
}

.vul-text-no-data {
  h1 {
    font-size: 15px;
  }

  p:first-of-type {
    margin-top: 25px;
    margin-bottom: 0;
  }

  p:last-of-type {
    margin: 0;
    font-weight: bold;
  }
}

@import url('./screens/scan.scss');
@import url('./screens/assess.scss');

input {
  height: calc(var(--input-height) * 1px);
  padding: 2px 5px;
}

input:focus {
  border-color: var(
    --link-active-foreground
  ) !important; /* Apply the border color on focus */
  outline: none !important;
  border-width: 1px !important; /* Ensure the width is set */
  border-style: solid !important; /* Define the border style to ensure it is applied */
}

.dropdown-option-label {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
}
